/* Move down content because we have a fixed navbar that is 50px tall */

body {
  padding-top: 50px;
  padding-bottom: 20px;
}

footer {
  position: fixed;
  left: 0px;
  bottom: 0px;
  height: 30px;
  width: 100%;
  background: #999;
}

/* Set widths on the navbar form inputs since otherwise they're 100% wide */

.navbar-form input {
  &[type="text"], &[type="password"] {
    width: 180px;
  }
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */

.body-content {
  padding-left: 15px;
  padding-right: 15px;
}

/** 
 * Sidebar navigation
 */

.os_sidebar {
  nav {
    /*background: none repeat scroll 0 0 #20262A;	*/
  }
  .box_header {
    background-color: #DD4814;
    color: #FFFFFF;
    padding-top: 10px;
    padding-left: 4px;
    height: 40px;
    border-bottom: 1px solid white;
  }
  .box_content ul {
    list-style: none outside none;
    margin: 0;
    padding: 0;
  }
  nav {
    .menu_item {
      text-wrap: none;
      text-overflow: ellipsis;
      border-bottom: 1px solid #373C40;
      height: auto;
      line-height: normal;
      margin: 0;
      padding: 10px;
      list-style: none outside none;
      &:hover {
        background-color: #380606;
      }
      a {
        color: #BDBFC0;
        font-size: 12px;
        padding-left: 8px;
      }
    }
    .active {
      background-color: #992804;
      a {
        color: #FFFFFF;
        font-size: 12px;
        font-weight: bold;
        text-transform: uppercase;
      }
    }
    li .menu_item > div.label {
      /*margin-right:20px;*/
      margin-top: 4px;
      /*float: right;*/
      font-size: 9px;
    }
    .level1 {
      padding-left: 0px;
      margin-left: 0px;
    }
    .level2 {
      padding-left: 0px;
      margin-left: 25px;
    }
    .level3 {
      padding-left: 0px;
      margin-left: 35px;
      border-left: 1px solid #373C40;
    }
    .level4 {
      padding-left: 0px;
      margin-left: 50px;
      border-left: 1px solid #373C40;
      a {
        text-transform: none;
      }
    }
  }
}

.numbercircle {
  position: relative;
  float: right;
  -webkit-border-radius: 999px;
  -moz-border-radius: 999px;
  border-radius: 999px;
  width: 40px;
  top: 100px;
  height: 40px;
  padding-top: 12px;
  background: rgba(150, 0, 0, 0.8);
  border: 1px solid #888;
  color: #FFF;
  text-align: center;
  font: 12px Arial, sans-serif;
}

/**
 * Product browser 
 */


/*
.ribbon-green:before, .ribbon-green:after {
  content: "";
  border-top:   3px solid #6e8900;   
  border-left:  3px solid transparent;
  border-right: 3px solid transparent;
  position:absolute;
  bottom: -3px;
}

.ribbon-green:before {
  left: 0;
}
.ribbon-green:after {
  right: 0;
}
*/

