<?php

return array(
    'openstore' => array(
        
        'media_library' => array(
            
            'preview' => [
                //'base_url' => 'http://api.emdmusic.com/media/preview/picture'
                'base_url' => '/media/preview/picture',
                
            ],
            
        )
    )
);
